<div id="content" class="container_16 clearfix">
<div class="box" style="z-index: auto; position: relative; left: 0px; top: 0px;">
						<h2>Ogłoszenie:</h2>
						<p><strong>test</strong></p>
					</div>
					
<div class="grid_16">
					<table>
						<thead>
							<tr>
								<th width="10"></th>
								<th colspan="2">Forum</th>
								<th colspan="2" width="30%">Statystyki</th>
							</tr>
						</thead>
						<tfoot>
							<tr>
								<td colspan="5" class="pagination">
									<b>Skocz do: </b>
								</td>
							</tr>
						</tfoot>
						<tbody>
							<tr>
								<td>#</td>
								<td>Informacje</td>
								<td></td>
								<td>0 postów</td>
								<td>0 tematów</td>
							</tr>
							<tr>
								<td>#</td>
								<td>Pomysły</td>
								<td></td>
								<td>0 postów</td>
								<td>0 tematów</td>
							</tr>
							<tr>
								<td>#</td>
								<td>Błędy</td>
								<td></td>
								<td>0 postów</td>
								<td>0 tematów</td>
							</tr>
						</tbody>
					</table>


</div></div>