<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
<link rel="stylesheet" href="interface/templates/united_classic/styles/uni_style.css" type="text/css" media="screen" charset="utf-8" />
<link rel="stylesheet" href="interface/templates/united_classic/styles/uni_colors.css" type="text/css" media="screen" charset="utf-8" />
<link rel="Shortcut Icon" href="favicon.ico" type="image/x-icon" />
</head>
<body>

	<h1 id="head">UnityBB <small><span class="desc">Your forum description</span></small></h1> 
	
	<ul id="navigation">
		<li><span class="active">Forums</span></li>
		<li><a href="#">Users</a></li>
		<li><a href="#">Search</a></li>
	</ul>

</body>
</html>